<%- include('./partials/header.ejs')%>

    <h2>About Us</h2>
    <p>We are an ogranization trying to being charlotte runners together. We hope to provide a sense of community to the city and inform people of cool events happening in our area.</p>
    
</main>
<%- include('./partials/footer.ejs')%>