<%- include('./partials/header.ejs')%>

    <h2>Contact Us!</h2>
    <p>You can reach us at email@email.com or at 123-456-7890 with any questions comments or concerns!</p>
    
</main>
<%- include('./partials/footer.ejs')%>