<%- include('./partials/header.ejs')%>

    
        <h2>Welcome to Charlotte Runners!</h2>
        <p>Here we post local running events and races in the greater Charlotte Area. Happy to have you here!</p>
        
    </main>
    <%- include('./partials/footer.ejs') %>